{% extends 'base.html' %} {% block content %}
<div class="row">
  <h1>H3O Inferno</h1>
</div>
<div class="row">
  <div class="one-half column">
    <h2>Health Plan Members</h2>
    <p>Payer-to-Payer API</p>
  </div>
  <div class="one-half column">
    <h2>Health Plans</h2>
    <p>Payer-to-Payer API</p>
  </div>
</div>
<h2>Health Plan Providers</h2>
<div class="row">
  <div class="one-half column"><p>Provider Access API</p></div>
  <div class="one-half column"><p>Prior Authorization API</p></div>
</div>
<h2>Third-Party Organizations</h2>
<div class="row">
  <div class="four columns"><p>Patient Access API</p></div>
  <div class="four columns"><p>Provider Directory API</p></div>
  <div class="four columns"><p>Drug Formulary API</p></div>
</div>
{% endblock content %}
