{% extends 'base.html' %} {% block content %}
<h1>Change Password</h1>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="row mb-3">
    {{ form.password.label(class="form-label") }} {{
    form.password(class="form-control") }}
    <div class="form-text">Required</div>
  </div>
  <div class="row mb-3">
    {{ form.confirm_password.label(class="form-label") }} {{
    form.confirm_password(class="form-control") }}
    <div class="form-text">Required</div>
  </div>
  {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock content %}
