{% extends 'base.html' %} {% block content %}
<h1>Jira Ticket Updates</h1>
<p>Add or update the Jira CC and CSM1 IDs and URLs below.</p>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="row mb-3">
    <div class="col-3">
      {{ form.jira_cc_id.label(class="form-label") }} {{
      form.jira_cc_id(class="form-control") }}
    </div>
    <div class="col-9">
      {{ form.jira_cc_url.label(class="form-label") }} {{
      form.jira_cc_url(class="form-control") }}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-3">
      {{ form.jira_csm1_id.label(class="form-label") }} {{
      form.jira_csm1_id(class="form-control") }}
    </div>
    <div class="col-9">
      {{ form.jira_csm1_url.label(class="form-label") }} {{
      form.jira_csm1_url(class="form-control") }}
    </div>
  </div>
  {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock content %}
