{% extends 'base.html' %} {% block content %}
<h1>Health Apps</h1>
<!-- Health Apps - Force Scraping - Start -->
<div class="button-group">
  <form action="{{ url_for('healthapps.scrape_carin') }}" method="post">
    <input type="submit" value="Update CARIN" class="button-primary" />
  </form>
  <form action="{{ url_for('healthapps.scrape_medicare') }}" method="post">
    <input type="submit" value="Update Medicare BB" class="button-primary" />
  </form>
</div>
<!-- Health Apps - Force Scraping - End -->
<!-- Health Apps - Start -->
<div class="row">
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Source</th>
        <th>App Name</th>
        <th>Company</th>
        <th>Created Date</th>
        <th>Updated Date</th>
      </tr>
    </thead>
    <tbody>
      {% if healthapps %} {% for app in healthapps %}
      <tr>
        <td>{{ app.source }}</td>
        <td>
          <a href="{{ app.link }}" target="_blank">{{ app.name }}</a>
        </td>
        <td>{{ app.company }}</td>
        <td>{{ app.created_date.strftime('%Y-%m-%d %I:%M %p') }} (UTC)</td>
        <td>{{ app.updated_date.strftime('%Y-%m-%d %I:%M %p') }} (UTC)</td>
      </tr>
      {% endfor %} {% else %}
      <!-- If no apps found, extend all 6 columns -->
      <tr>
        <td colspan="6">No apps found</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<!-- Health Apps - End -->
{% endblock content %}
