{% extends 'base.html' %} {% block content %}
<h1>Connection Status Update</h1>
<p>Update the status of the connection request.</p>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="u-full-width">
      {{ form.working_status.label}} {{ form.working_status }}
    </div>
  </div>
  <div class="row">
    <div class="u-full-width">{{ form.notes.label}} {{ form.notes }}</div>
  </div>
  <div class="row">
    <div class="u-full-width">{{ form.submit }}</div>
  </div>
</form>
{% endblock content %}
