{% extends 'base.html' %} {% block content %}
<h1>Connection Requests</h1>
<p style="font-size: 10px">
  Legend:
  <br />
  PA = Patient Access API
  <br />
  PD = Provider Directory API
  <br />
  DF = Drug Formulary API
</p>
<!-- Requests Table - Start -->
<div class="row">
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Requested Date</th>
        <th>Health Plan</th>
        <th>App Name</th>
        <th>PA</th>
        <th>PD</th>
        <th>DF</th>
        <th>Status</th>
        <th>CC <i class="fa-solid fa-arrow-up-right-from-square"></i></th>
        <th>CSM1 <i class="fa-solid fa-arrow-up-right-from-square"></i></th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% if requests %} {% for request in requests %}
      <tr>
        <td
          class="timestamp"
          data-utc="{{ request.created_date.isoformat() }}Z"
        >
          {{ request.created_date }}
        </td>
        <td>{{ request.health_plan_name }}</td>
        <td>{{ request.app_name }}</td>
        <td>
          {% if request.fhir_patient_access_api %}
          <i class="fa fa-bolt" aria-hidden="true"></i>
          {% else %} {% endif %}
        </td>
        <td>
          {% if request.fhir_provider_directory_api %}
          <i class="fa fa-bolt" aria-hidden="true"></i>
          {% else %} {% endif %}
        </td>
        <td>
          {% if request.fhir_drug_formulary_api %}
          <i class="fa fa-bolt" aria-hidden="true"></i>
          {% else %} {% endif %}
        </td>
        <td>{{ request.working_status }}</td>
        <td>
          {% if request.jira_cc_id %}
          <a
            href="{{ request.jira_cc_url }}"
            target="_blank"
            rel="noopener noreferrer"
            >CC-{{ request.jira_cc_id }}</a
          >
          {% endif %}
        </td>
        <td>
          {% if request.jira_csm1_id %}
          <a
            href="{{ request.jira_csm1_url }}"
            target="_blank"
            rel="noopener noreferrer"
            >CSM1-{{ request.jira_csm1_id }}</a
          >
          {% endif %}
        </td>
        <td>
          <a
            href=" {{url_for('requests.view_request', request_id=request.id) }}"
            ><button>View</button></a
          >
        </td>
      </tr>
      {% endfor %} {% else %}
      <!-- If no requests found, extend all columns -->
      <tr>
        <td colspan="10">No requests found</td>
        {% endif %}
      </tr>
    </tbody>
  </table>
</div>
<!-- Requests Table - End -->
<script src="{{ url_for('static', filename='js/convert_timezone.js') }}"></script>
{% endblock content %}
