{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>View Connection Request</h1>
  <!-- Actions - Start -->
  <div class="row">
    <div class="button-group">
      <a
        href="{{ url_for('requests.edit_request', request_id=connection_request.id) }}"
        ><button>Edit Connection Request</button></a
      >
      <a
        href="{{ url_for('requests.status_updates', request_id=connection_request.id) }}"
      >
        <button>Edit Request Status</button>
      </a>
      <a
        href="{{ url_for('requests.jira_ticket_updates', request_id=connection_request.id) }}"
      >
        <button>Edit Jira Tickets</button>
      </a>
      <a
        href="{{ url_for('requests.request_pdf', request_id=connection_request.id) }}"
        ><button>Generate Request PDF</button></a
      >
    </div>
  </div>
  <!-- Actions - End -->
  <!-- Status - Start -->
  <h3>Connection Request Status</h3>
  <div class="row">
    <div class="three columns">
      <h5>Status</h5>
      <p>{{ connection_request.working_status }}</p>
    </div>
    <div class="three columns">
      <h5>CC Jira Ticket</h5>
      {% if connection_request.jira_cc_id %}
      <a
        href="{{ connection_request.jira_cc_url}}"
        target="_blank"
        rel="noopener noreferrer"
        >CC-{{ connection_request.jira_cc_id }}</a
      >
      {% endif %}
    </div>
    <div class="three columns">
      <h5>CSM1 Jira Ticket</h5>
      {% if connection_request.jira_csm1_id %}
      <a
        href="{{ connection_request.jira_csm1_url}}"
        target="_blank"
        rel="noopener noreferrer"
        >CSM1-{{ connection_request.jira_csm1_id }}</a
      >
      {% endif %}
    </div>
  </div>
  <!-- Status - End -->
  <!-- Health App Matching - Start -->
  <h5>Health App Matching</h5>
  <button id="matchButton" data-request-id="{{ connection_request.id }}">
    Re-check Health App Match
  </button>
  <div class="row">
    <div class="six columns">
      <p>CARIN - Company: <span id="carinCompanyMatch"></span></p>
      <p>CARIN - App Name: <span id="carinAppMatch"></span></p>
    </div>
    <div class="six columns">
      <p>
        Medicare Blue Button - Company:
        <span id="medicareCompanyMatch"></span>
      </p>
      <p>
        Medicare Blue Button - App Name:
        <span id="medicareAppMatch"></span>
      </p>
    </div>
  </div>
  <div class="row">
    <p>Affiliate match probability: <span id="matchProbability">?</span>%</p>
  </div>
  <!-- Connect Request Information - Start -->
  <h3>Connect Request Information</h3>
  <div class="row">
    <div class="six columns">
      <h5>Health Plan</h5>
      <p>{{ connection_request.health_plan_name }}</p>
    </div>
    <div class="six columns">
      <h5>APIs Requested</h5>
      <div>
        {% if connection_request.fhir_patient_access_api %}
        <p><i class="fas fa-bolt"></i><span> Patient Access API</span></p>
        {% endif %} {% if connection_request.fhir_provider_directory_api %}
        <p><i class="fas fa-bolt"></i><span> Provider Directory API</span></p>
        {% endif %} {% if connection_request.fhir_drug_formulary_api %}
        <p><i class="fas fa-bolt"></i><span> Drug Formulary API</span></p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <h5>App Name</h5>
      <p>{{ connection_request.app_name }}</p>
      <a
        href="{{ connection_request.app_link }}"
        target="_blank"
        rel="noopener noreferrer"
        >{{ connection_request.app_link }}</a
      >
    </div>
    <div class="six columns">
      <h5>App Description</h5>
      <p>{{ connection_request.app_description }}</p>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <h5>Requestor Information</h5>
      <p>
        {{ connection_request.firstname }} {{ connection_request.lastname }}
      </p>
      <p>{{ connection_request.email }}</p>
      <p>{{ connection_request.phone_number }}</p>
    </div>
    <div class="six columns">
      <h5>Company Information</h5>
      <p>{{ connection_request.company }}</p>
      <a
        href="{{ connection_request.company_website}}"
        target="_blank"
        rel="noopener noreferrer"
        >{{ connection_request.company_website }}</a
      >
    </div>
  </div>
  <div class="row">
    {% if connection_request.carin_link %}
    <div class="four columns">
      <h5>CARIN App</h5>
      <a
        href="{{ connection_request.carin_link }}"
        target="_blank"
        rel="noopener noreferrer"
        >{{ connection_request.carin_link }}</a
      >
    </div>
    {% endif %} {% if connection_request.medicare_link %}
    <div class="four columns">
      <h5>Medicare Blue Button App</h5>
      <a
        href="{{ connection_request.medicare_link }}"
        target="_blank"
        rel="noopener noreferrer"
        >{{ connection_request.medicare_link }}</a
      >
    </div>
    {% endif %} {% if connection_request.caqh_link %}
    <div class="four columns">
      <h5>CAQH App</h5>
      <a
        href="{{ connection_request.caqh_link }}"
        target="_blank"
        rel="noopener noreferrer"
        >{{ connection_request.caqh_link }}</a
      >
    </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="u-full-width">
      <h5>Request Date</h5>
      <p
        class="timestamp"
        data-utc="{{ connection_request.created_date.isoformat() }}Z"
      ></p>
    </div>
  </div>
  <!-- Connect Request Information - End -->
</div>

<script>
  // Function to update match result
  function updateMatchResult(element, isMatch) {
    element.innerHTML = isMatch
      ? '<i class="fas fa-bolt"></i><span> Match</span>'
      : '<i class="fas fa-circle-xmark"></i><span> No match</span>';
  }

  // Function to fetch match info
  function fetchMatchInfo(requestId) {
    fetch(`/healthapp_match/${requestId}`, {
      method: "GET",
    })
      .then((response) => response.json())
      .then((data) => {
        // Update the HTML content based on the returned data
        updateMatchResult(carinCompanyMatch, data.carin_company_match);
        updateMatchResult(medicareCompanyMatch, data.medicare_company_match);
        updateMatchResult(carinAppMatch, data.carin_app_match);
        updateMatchResult(medicareAppMatch, data.medicare_app_match);
        matchProbability.textContent = data.match_probability;
      })
      .catch((error) => {
        console.error("An error occurred:", error);
      });
  }

  // Fetch the health app match info when the page loads
  document.addEventListener("DOMContentLoaded", function () {
    const carinCompanyMatch = document.getElementById("carinCompanyMatch");
    const medicareCompanyMatch = document.getElementById(
      "medicareCompanyMatch"
    );
    const carinAppMatch = document.getElementById("carinAppMatch");
    const medicareAppMatch = document.getElementById("medicareAppMatch");
    const matchProbability = document.getElementById("matchProbability");

    const requestId = matchButton.getAttribute("data-request-id");
    fetchMatchInfo(requestId);
  });

  // Fetch the health app match info when the user clicks the button
  const matchButton = document.getElementById("matchButton");
  matchButton.addEventListener("click", function () {
    const requestId = matchButton.getAttribute("data-request-id");
    fetchMatchInfo(requestId);
  });
</script>
<script src=" {{ url_for('static', filename='js/convert_timezone.js') }}"></script>
{% endblock content %}
