{% extends 'base.html' %} {% block content %}
<h1>Add/Edit Health Plan</h1>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="six columns">
      {{ form.name.label }} {{ form.name(class="u-full-width") }}
    </div>
    <div class="six columns">
      {{ form.hp_id.label }} {{ form.hp_id(class="u-full-width") }}
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      {{ form.status.label }} {{ form.status(class="u-full-width") }}
    </div>
    <div class="six columns">{{ form.submit }}</div>
  </div>
</form>
{% endblock content %}
