{% extends 'base.html' %} {% block content %}
<h1>Add/Edit Health Plan</h1>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="row mb-3">
    <div class="col">
      {{ form.name.label(class="form-label") }} {{
      form.name(class="form-control") }}
    </div>
    <div class="col">
      {{ form.hp_id.label(class="form-label") }} {{
      form.hp_id(class="form-control") }}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      {{ form.status.label(class="form-label") }} {{
      form.status(class="form-select") }}
    </div>
  </div>
  {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock content %}
